.CategoryPage {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 350px), 1fr));
    gap: 10px;
}

.card {
    border: 1px solid 	#C8C8C8;
    border-radius: 5px;
}

.card > img {
    object-fit: cover;
    width: 100%;
}

.card > p, .rating {
    margin: 32px 0;
}

.cardTitle {
    font-weight: bold;
    font-size: 1.2rem;
}

.price {
    font-weight: bold;
    font-size: 1.7rem;
}

.star {
    font-size: x-large;
    width: 22px;
    display: inline-block;
    color: gray;
}
.star:last-child {
    margin-right: 0;
}
.star:before {
    content:'\2605';
}
.star.on {
    color: gold;
}
.star.half:after {
    content:'\2605';
    color: gold;
    position: absolute;
    margin-left: -20px;
    width: 10px;
    overflow: hidden;
}

@media (width <= 768px) {
    .card {
        font-size: 0.9rem;
    }
}

@media (width <= 320px) {
    .card {
        font-size: 0.7rem;
    }
}