.HomePage {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.card {
    border: 1px solid 	#C8C8C8;
    border-radius: 5px;
}

.card > img {
    object-fit: cover;
    height: 300px;
}

.star {
    font-size: x-large;
    width: 22px;
    display: inline-block;
    color: gray;
}
.star:last-child {
    margin-right: 0;
}
.star:before {
    content:'\2605';
}
.star.on {
    color: gold;
}
.star.half:after {
    content:'\2605';
    color: gold;
    position: absolute;
    margin-left: -20px;
    width: 10px;
    overflow: hidden;
}