.NavigationBar {
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #49759C;
}

.title {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 1000;
    margin: 32px 0;
}

.shopLink {
    position: absolute;
    right: 30px;
}

.shopIcon {
    width: 50px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(229deg) brightness(103%) contrast(102%);
}

.cartNumber {
    background-color: #FF6347;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 10px;
    position: absolute;
    bottom: -5px;
    right: -5px;
}