.NavigationBar {
    display: grid;
    grid-template-columns: 5fr 9fr 1fr;
    position: relative;
    background-color: #49759C;
    padding: 16px 0;
}

.NavigationBar > a, .categories, .cart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavigationBar > a {
    grid-column: 1;
}

.title {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 1000;
}

.categories {
    grid-column: 2;
}

.categories > a {
    font-size: 0.9rem;
    color: #ffffff;
    margin: 0 48px;
    padding: 16px;
}

.cart {
    grid-column: 3;
}

.shopLink {
    position: relative;
}

.shopIcon {
    width: 50px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(229deg) brightness(103%) contrast(102%);
}

.cartNumber {
    background-color: #FF6347;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 10px;
    position: absolute;
    bottom: -5px;
    right: -5px;
}

@media (width <= 768px) {
    .title {
        font-size: 1.5rem;
    }
    .categories > a {
        font-size: 0.8rem;
        padding: 8px;
        margin: 0 24px;
    }
    .shopIcon {
        width: 40px;
    }
    .cartNumber {
        padding: 4px 6px;
        bottom: 3px;
        right: -3px;
    }
}

@media (width <= 425px) {
    .title {
        font-size: 1rem;
    }
    .categories > a {
        font-size: 0.7rem;
        padding: 4px;
        margin: 0 4px;
    }
    .shopIcon {
        width: 30px;
    }
    .cartNumber {
        padding: 2px 4px;
        bottom: 2px;
        right: -2px;
    }
}

@media (width <= 320px) {
    .title {
        font-size: 0.7rem;
    }
    .categories > a {
        padding: 2px;
        margin: 0 2px;
        font-size: 0.5rem;
    }
    .shopIcon {
        width: 25px;
    }
}